# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/
gen/

# The Flutter SDK
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Build directory
build/

# Android Studio
captures/
.externalNativeBuild
*.apk
output/

# VS Code
.vscode/

# Xcode
*.hmap
*.xccheckout
*.xcscmblueprint
*.xcschememanagement.plist
*.xcscheme
*.xcworkspace
xcuserdata/

# Cocoapods
Pods/
Podfile.lock

# Dart
.dart_tool/
pubspec.lock

# Web
.dart_tool/build/
